body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: '微软雅黑', sans-serif;
  outline: none;
}
a {
  color: #888;
}
input[type='button'],
input[type='submit'],
input[type='search'],
input[type='reset'] {
  /* ios下移除原生样式 */
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #f2f3f7;
  font-size: 1.6rem;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#header {
  background-color: #e9594a;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 2rem 2rem;
  color: #fff;
}
#header .icon {
  font-size: 2.4rem;
}
#header .title {
  color: #fff;
}
#header a {
  color: #fff;
  font-size: 2.4rem;
}
.size-20 {
  font-size: 1.3333rem;
}
.size-24 {
  font-size: 1.6rem;
}
.size-28 {
  font-size: 1.866rem;
}
.size-32 {
  font-size: 2.133rem;
}
.size-36 {
  font-size: 2.4rem;
}
.size-40 {
  font-size: 2.667rem;
}

/* 时间选择器样式 */
.ic__container,
.ic__week-head,
.ic__week-head td,
.ic__days,
.ic__days td,
.ic__header,
.ic__prev,
.ic__next,
.ic__datepicker {
  margin: 0;
  padding: 0;
  font-size: 2.133rem;
  cursor: default;
  text-shadow: none !important;
}

.ic__datepicker {
  padding: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
  margin-left: -19rem;
  border-radius: 0.3rem;
  background: transparent;
  z-index: 9999;
}
.ic__container {
  background: #fff;
  border: 1px solid #e9594a;
  border-radius: 0.2rem;
}
.ic__container table {
  width: 100%;
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

.ic__header {
  background: #e9594a;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.133rem;
}
.ic__prev,
.ic__next {
  width: 7%;
  height: 100%;
  background-color: #e9594a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic__prev:hover,
.ic__next:hover {
  background-color: #666;
}
.ic__prev div,
.ic__next div {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 1rem solid transparent;
}
.ic__prev div {
  border-right-color: #fff;
}
.ic__next div {
  border-left-color: #fff;
}

.ic__month {
  /* width: 40%; */
  flex: 1;
  display: flex;
  align-items: center;
}
.ic__year {
  /* width: 30%; */
  flex: 1;
  display: flex;
  align-items: center;
}
.ic__header select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.866rem;
  border-radius: 0.2rem;
  color: #888;
  padding: 0 0.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0 0.4rem;
  background: #fff;
}
.ic__header .icon-left {
  position: absolute;
  left: 42.5%;
}
.ic__header .icon-right {
  position: absolute;
  right: 9%;
}
.ic__header select option {
  font-size: 1.866rem !important;
}
.ic__week-head td {
  vertical-align: top;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  color: #b5b5b5;
  font-size: 2.133rem;
  text-transform: uppercase;
}
.ic__days td {
  vertical-align: top;
  text-align: center;
  padding: 1.5rem;
  border-radius: 50%;
  color: #757575;
  font-size: 2.133rem;
  text-transform: uppercase;
}
.ic__days .ic__day {
  background: #fff;
  cursor: pointer;
}
.ic__days .ic__day:hover {
  background: #d35746;
  color: #fff;
}
.ic__days .ic__day-empty {
  background: #fff
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF7u7u////KNOqmgAAABlJREFUeNpiYGRkZABCCGIA8UAEI4QACDAAAUoAFV5+ydgAAAAASUVORK5CYII=');
}
.ic__days .ic__day_state_current {
  background: #e9594a;
  color: #fff;
}
.ic__days .ic__day_state_selected {
  background: #f4f4f4;
  color: #000;
}
/* 活动详情+公告详情+我的消息 公共样式 开始*/
.public-details {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  background: #fff !important;
  display: flex;
  flex-direction: column;
  color: #888;
  /* font-size: 0.6rem; */
}
.public-details .header-title {
  padding: 1rem;
}
.public-details .header-title strong {
  font-size: 1.866rem;
  color: #333;
}
.public-details .header-title p {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.public-details-content {
  flex: 1;
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
}
.public-details-content p {
  font-size: 1.6rem;
  color: #5694cc;
  padding-top: 1rem;
}
/* 活动详情+公告详情+我的消息 公共样式 结束*/

/* 账变记录+充值记录+提现记录  公共样式 开始 */
.public-records {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  color: #888;
  /* font-size: 0.8rem; */
  z-index: 1111;
}
.public-records ul {
  flex: 1;
}
.public-records ul li {
  width: 100%;
  /* font-size: 0; */
  display: flex;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.public-records-border {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.public-records ul li span {
  font-size: 1.6rem;
  display: inline-block;
  width: 33%;
  /* font-size: 0.6rem; */
  padding: 1rem 0;
}
.public-records li:nth-child(1) {
  background: #e9594a;
  color: #fff;
}
.public-records li:nth-child(1) span {
  padding: 1.2rem 0;
  font-size: 1.866rem;
}
/* 账变记录+充值记录+提现记录  公共样式 结束 */

/* 绑定银行卡+修改密码+提现密码 公共样式 开始 */
.public-set {
  width: 100%;
  height: 100%;
  padding: 3rem;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #888;
}
.public-set-form {
  padding: 0.8rem 0;
}
.public-set-form li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.public-set-form span {
  font-size: 1.866rem;
  padding-right: 2rem;
}
.public-set-form input {
  font-size: 1.6rem;
  flex: 1;
  padding: 1.2rem 4rem 1.2rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  color: #888;
}
.public-set-form .icon {
  font-size: 2.667rem;
  color: #e9594a;
  position: absolute;
  right: 4rem;
  display: none;
}
.public-set-submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.public-set button {
  width: 100%;
  font-size: 2.133rem;
  padding: 1rem;
  background: #e9594a;
  border-radius: 4rem;
  color: #fff;
  margin-top: 3rem;
}
/* 绑定银行卡+修改密码+提现密码 公共样式 结束 */
/* 登录+注册 公共样式 开始 */
.public-member {
  /* width: 100%;
  height: 100%; */
  flex: 1;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: #e9594a;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.866rem;
}
.public-member-form {
  width: 100%;
  padding: 3rem;
}
.public-member-form li {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.public-member-form .title {
  font-size: 2.133rem;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}
.public-member-form li .icon {
  position: absolute;
  color: #e9594a;
  right: 2rem;
  font-size: 2.667rem;
  display: none;
}
.public-member-form li input {
  flex: 1;
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
}
.public-member-form .public-member-submit {
  width: 100%;
  font-size: 2.133rem;
  padding: 1rem;
  background: #fff;
  border-radius: 4rem;
  color: #e9594a;
  margin-top: 3rem;
}
.public-member-form .register-href {
  display: flex;
  justify-content: center;
}
.public-member-form .register-href a {
  color: #fff;
  border-bottom: 3px solid #fff;
  margin: 0 2rem;
}
/* 登录+注册 公共样式 结束 */
