/*  框架样式开始 */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    flex-grow: 1;
    overflow: scroll;
    background-color: #f2f3f7;
}
footer {
    background-color: #fff;
    padding: 1rem 0;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}
footer ul a {
    color: #787878;
}
.nav {
    text-align: center;
    color: #787878;
}

footer .active {
    color: #E9594A;
}
/* 框架样式结束 */

/* 竞猜大厅样式开始 */
.lobby {
    width: 100%;
    height: 100%;
    /*padding: 0.4rem;*/
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}
.broadcast,
.rank {
    background: #fff;
}
.banner {
    position: relative;
    background: url("../assets/images/banner.jpg");
    padding: 20% 0;
    background-size: 100% 100%;
}
/*.banner-img {
    width: 100%;
    height: 100%;
}*/
.banner-text {
    width: 100%;
    padding: 0.7rem 0;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-indent: 1rem;
    font-size: 1.6rem;
}

.broadcast {
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 1.3333rem;
}
.icon-logo {
    padding: 0 1rem 0 1rem;
    color: #E9594A;
    font-size: 1.866rem;
}
.broadcast-text {
    color: #777;
}
.menu {
    /*height: 10rem;*/
}
.menu-content:nth-child(1) {
    margin-right: 0.5rem;
}
.menu-top,
.menu-bottom {
    /*height: 50%;*/
    display: flex;
    margin-bottom: 0.5rem;
    display: flex;
}
.menu-content {
    background: #fff;
    flex-grow: 1;
    display: flex;
    padding: 1.5rem 0;
}
.menu-content-left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 0 3rem;
}
.left-img {
    width: 7rem;
    height: 7rem;

}
.xuancai {
    background: url("../assets/images/home-hall-xuancai.png");
    background-size: 100% 100%;
}
.huancai {
    background: url("../assets/images/home-hall-huancai.png");
    background-size: 100% 100%;
}
.ruicai {
    background: url("../assets/images/home-hall-ruicai.png");
    background-size: 100% 100%;
}
.more {
    background: url("../assets/images/home-hall-more.png.png");
    background-size: 100% 100%;
}
.menu-content-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.classify {
    color: #555;
    font-weight: 500;
    color: #000000;
}
.periods {
    color: #808080;
    font-size: 1.6rem;
    padding: 0.5rem 0;
}
.rank {
    flex-grow: 1;
    margin-top: 0.5rem;
}
.rank-title {
    text-align: center;
    color: #E9594A;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}
.rank-content li {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}
.rank-content span {
    padding: 0.4rem 0;
    color: #808080;
}
.rank-content .color-red {
    color: #E9594A;
}
/* 竞猜大厅样式结束 */

/* 充值样式开始 */
.recharge {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
    font-size: 0.6rem;
    padding: 0 2rem;
}
.title {
    color: #666;
    padding: 2rem 0;
}
.recharge-content-list {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem;
    border-bottom: 1px solid #DDDDDD;
}
.recharge-content-img {
    width: 7rem;
    height: 5rem;
}
.recharge-content-text {
    font-size: 2.133rem;
    color: #5F5F5F;
    padding-left: 2rem;
}
.control-btn {
    display: flex;
    justify-content: space-around;
    padding-top: 3.5rem;
}
.control-btn .btn {
    padding: 1.5rem 3rem;
    color: #fff;
    font-size: 2.133rem;
    background: #FE635F;
    border-radius: 4rem;
}
/* 充值样式结束 */

/* 客服样式开始 */
.service {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
    font-size: 0.6rem;
}
.service-code {
    background: #fff;
    text-align: center;
    padding: 5rem 5rem 0 5rem;
}
.service-img {
    width: 35rem;
    height: 35rem;
    background-color: #63a35c;
    display: inline-block;
}
.service-text {
    font-size: 1.866rem;
    padding: 3rem 0;
}
.service-qq {
    font-size: 2.133rem;
    font-weight: 500;
    color: #565656;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-qq-icon {
    /* width: 3rem; */
    padding-right: 2rem;
    font-size: 5rem;
}
.service-qq .btn {
    font-size: 2.133rem;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: #fff;
    background: #FE635E;
    border-radius: 0.7rem;
    margin-left: 2rem;
}
/* 客服样式结束 */

/* 活动页面样式开始 */
.activity {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
    font-size: 0.6rem;
}
.activity-content {
    flex: 1;
    background: #fff;
}
.tab {
    height: 5rem;
    line-height: 5rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EBEBEB;
    font-size: 1.866rem;
    font-weight: 500;
}
.tab-nav {
    padding: 0 3rem;
    color: #666666;
}
.tab .active {
    border-bottom: 2px solid #D75244;
    color: #191919;
}
.tab-content {
    display: none;
}
.tab-content li {
    font-size: 1.6rem;
    color: #656565;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F3;
}
.on {
    display: block;
}
/* 活动页面样式结束 */

/* 我的账户页面样式开始 */
.account {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.6rem;
}
.account-msg {
    background: #E9594A;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.133rem;
    padding: 3rem 0;
}
.header-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: url("../assets/images/head-image_M.png");
    background-size: 100% 100%;
}
.header-account {
    padding-top: 1rem;
}
.header-username {
    padding-top: 1rem;
}

.balance {
    background: #f77552;
    display: flex;
    align-items: center;
}
.balance li {
    width: 50%;
    padding: 1rem 0 1.5rem 0;
    font-size: 1.866rem;
}
.balance li p {
    text-align: center;
    padding-top: 0.5rem;
}
.user-menu {
    flex: 1;
    padding: 0 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #616161;
    font-size: 2.4rem;
}
.user-menu li {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
}
.list-icon {
    padding-right: 1rem;
    font-size: 3rem;
}
.detail-icon {
    color: #C4C4C4;
}
/* 我的账户页面样式结束 */

/* 游戏大厅页面样式开始 */
.game-hall-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 2rem;
    background-color: #f2f3f7;
}
.pre {
    margin-bottom: 2rem;
}
.room {
    width: 100%;
    padding-top: 23%;
    padding-bottom: 23%;
    position: relative;
    z-index: 998;
    border-radius: 2rem;
}
.room .text {
    position: absolute;
    /*right: 0;
    top: 0;*/
    z-index: 999;
}
.room .first {
    right: 1rem;
    top: 1rem;
    height: 3.5rem;
    line-height: 1.75rem;
    padding: 0 1.8rem;
    border-radius: 2rem;
    border: 1px solid #fff;
    background-color: #C70000;
    color: #FFC341;
    font-size: 1.6rem;
    font-weight: 600;
}
.room .second {
    left: 25rem;
    font-size: 1.866rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 1px;
    background-color: rgba(57, 57, 57, 0.5);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
 }
.hall-tag1 {
    bottom: 7rem;
}
.hall-tag2 {
    bottom: 4rem;
}
.third {
    right: 1rem;
    bottom: 1rem;
    color: #fff;
    font-size: 1.866rem;
}
.third .icon {
    font-size: 2.667rem;
}
.primary {
    background: url("../assets/images/game-hall-primary.jpg");
    background-size: 100% 100%;
}
.middle {
    background: url("../assets/images/game-hall-middle.jpg");
    background-size: 100% 100%;
}
.senior {
    background: url("../assets/images/game-hall-senior.jpg");
    background-size: 100% 100%;
}
/* 游戏大厅页面样式结束 */

/* 我的账户-钱包 样式开始 */
.wallet {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
}
.wallet-header {
    /* height: 8rem; */
    padding: 5.6rem 3rem;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(left, #5fd0fd, #5bb4f0);
    color: #fff;
    border-radius: 0.8rem;
    font-size: 2.133rem;
}
.wallet-header .icon {
    font-size: 10rem;
}
.wallet-header li {
    padding-left: 3rem;
}
.wallet-header .header-icon {
    padding-left: 0;
}
.wallet-header li .pad-top {
    margin-top: 1.6rem;
}
.wallet-content li {
    background: #ffff;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    font-size: 2.133rem;
    color: #717171;
}
.wallet-content .icon {
    font-size: 3rem;
    padding-right: 1rem;
    color: rgb(255, 83, 74);
}
.wallet-content li .menu-icon {
    padding-right: 0.4rem;
}
/* 我的账户-钱包 样式结束 */

/*我的账户-账变记录 开始*/
.account-records {
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #888;
    /* font-size: 0.8rem; */
}
.account-records ul li {
    width: 100%;
    /* font-size: 0; */
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.account-records-border {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.account-records ul li span {
    font-size: 1.6rem;
    display: inline-block;
    width: 33%;
    /* font-size: 0.6rem; */
    padding: 1rem 0;
}
.account-records li:nth-child(1) {
    background: #e9594a;
    color: #fff;
}
.account-records li:nth-child(1) span {
    padding: 1.2rem 0;
    font-size: 1.866rem;
}
/*我的账户-账变记录 结束*/

/*我的账户-账户明细 开始*/
.account-details {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
    /*  font-size: 0.8rem; */
}
.account-details .filtrate-btn {
    background: #ccc;
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
}
.account-details .mask-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}
.account-details .screen {
    width: 80%;
    height: 100%;
    background: #fff;
    color: #888;
    /* font-size: 0.8rem; */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
    box-sizing: border-box;
    z-index: -1;
}
.account-details .screen-kind {
    padding-top: 0.6rem;
}
.account-details .kind {
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 0.2rem 0;
    text-align: center;
}
.account-details .screen .screen-kind p {
    margin-top: 0.4rem;
}
.account-details .control-btn {
    width: 100%;
    /* font-size: 0; */
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.account-details .control-btn button {
    width: 50%;
    height: 2.6rem;
}
.account-details .control-btn button:nth-child(1) {
    background: #f4f4f4;
}
.account-details .control-btn button:nth-child(2) {
    background: #e9594a;
    color: #fff;
}
.account-details .choice-date {
    display: flex;
    justify-content: space-around;
    padding-top: 0.4rem;
}
.account-details .choice-date span {
    display: inline-block;
    width: 10%;
    text-align: center;
}
.account-details .choice-date .date {
    width: 45%;
    border: 1px solid #ccc;
    padding: 0.2rem;
    border-radius: 0.4rem;
}
.account-details .select-kind {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 11rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    /* display: none; */
    z-index: -3;
}
.account-details .select-kind li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 1rem 1rem;
}
/*我的账户-账户记录 结束*/

/* 我的账户-设置 开始 */
.setting {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: #888;
    /* font-size: 0.8rem; */
}
.setting-content li {
    background: #ffff;
    padding: 0.8rem 0.4rem;
    margin-bottom: 0.6rem;
    border-radius: 0.1rem;
}
.setting-content li .menu-icon {
    box-sizing: border-box;
    padding-right: 0.4rem;
}
/*我的账户-设置 结束*/
